/* styles.css */

/* Add styles here to customize the appearance of your app */

*{
  padding:0px;
  margin:0px;
}

#contentWrapper {
  position: relative;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
